[user]
	name = Dylan Barnard
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[alias]
	a = add
	aa = add --all --intent-to-add
	ap = add --patch

	b = branch --sort=-committerdate
	bd = branch --delete
	bdf = branch -D
	bdr = push origin --delete

	c = commit
	ca = commit --amend
	cf = commit --fixup
	co = checkout
	cob = checkout -b
	cm = commit -m

	d = diff --ws-error-highlight=new,old
	# There's a slight outdent with new lines
        df = diff --color | sed -E "s/^([^-+ ]*)[-+ ]/\\1/" | less - r
	db = diff master HEAD
	dc = diff --cached
	ds = diff --name-only
	# Parametize this?
	d1 = diff HEAD~1 HEAD
	d2 = diff HEAD~3 HEAD
	d3 = diff HEAD~3 HEAD

	f = fetch

	l = log

	p = push
	pf = push --force
	# Push new (untracked) branch to remote in a single command
	po = "!git push --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\""

	# Copy sha for head
	sha = "!f() { git rev-parse HEAD | pbcopy ; }; f"
	# Copy sha previous to the provided sha - useful for getting a the right sha to provide git fixup SHA. master and HEAD~X also work.
	sha1 = "!f() { git rev-parse \"$1^\" | pbcopy ; }; f"

	pl = pull

	rb = rebase
	rbi = rebase -i

	rs = reset
	rss = reset --soft

	s = status
	# files in current branch vs. master
	sb = "!git diff --name-only `git rev-parse --abbrev-ref HEAD` $(git merge-base `git rev-parse --abbrev-ref HEAD` master)"

	# View git aliases (this file)
	la = "!git config -l | grep alias | cut -c 7-"
	# git alias to autosquash fixup commits non-interactivly
	# `!GIT_SEQUENCE_EDITOR= ... --autosquash $COMMIT_SHA` where $COMMIT_SHA is a SHA prior to commit to fixup
	# http://www.lowlevelmanager.com/2016/02/how-to-run-git-interactive-rebase-non.html
	fixup = !GIT_SEQUENCE_EDITOR=true git rebase -i --autosquash
[rebase]
	autosquash = true

[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/dbarnard/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/dbarnard/.stCommitMsg
